html, body{
    margin: 0;
    padding: 0;
    
}
#rev{
    width: 1000px;
    height: 4000px;
    margin: 0 auto;
}

#display{
    width: 700px;
    height: 700px;
    background-color: rgba(199, 199, 199, 0.486);
    display: block;
    margin: auto;

}
h4{
    font-size: xx-large;
    text-align: center;
}
p{
    font-size: x-large;
    font-weight: bold;
    color: rgb(59, 47, 63);
    text-align: center;
}
#flex{
    display: flex;
    gap: 50px;
    justify-content: center;

}
.flex1{
    height: 100px;
    width: 100px;
    background-color: rgb(60, 194, 194);  
}
#block{
    display: block;
    
}
#block :nth-child(1), #block :nth-child(3){
    height: 100px;
    width: 100px;
    background-color: rgb(60, 194, 194);  
    margin: 0 auto;
}
#block :nth-child(2){
    height: 100px;
    width: 100px;
    background-color: rgb(16, 138, 138);  
    margin: 0 auto;
}
#justifycontent{
    background-color: rgba(199, 199, 199, 0.486);
    width: 700px;
    height: 800px;
    margin: auto;
}

#start, #center, #around{
    height: 100px;
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgb(60, 194, 194);
}
#start{
    justify-content: flex-start;
}

#center{
    justify-content: center;
}
#around{
    justify-content: space-around;
}
#between, #end, #evenly{
    height: 100px;
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgb(16, 138, 138);
}
#evenly{
    justify-content: space-evenly;
}
#between{
    justify-content: space-between;
}
#end{
    justify-content: flex-end;
}
.bet{
    width: 80px;
    height: 80px;
    background-color: rgb(112, 216, 129);
}
#justifycontent p{
    color: rgb(0, 0, 0);
}
#alignitems{
    background-color: rgba(199, 199, 199, 0.486);
    width: 700px;
    height: 900px;
    margin: auto;
}
#start2, #center2{
    height: 200px;
    width: 600px;
    margin: auto;
    display: flex;
    background-color: rgb(60, 194, 194);
}
#end2{
    height: 200px;
    width: 600px;
    margin: auto;
    display: flex;
    background-color: rgb(16, 138, 138);
}
.bet1{
    width: 80px;
    height: 80px;
    background-color: rgb(112, 216, 129);
}
.bet2{

    background-color: rgb(112, 216, 129);
}
#center2{
    align-items: center;
}
#end2{
    align-items: flex-end;
}
#start2{
    align-items: flex-start;
}
#stretch{
    align-items: stretch;
    height: 170px;
    width: 600px;
    margin: auto;
    display: flex;
    gap: 50px;
    background-color: rgb(16, 138, 138);
}
#seletores{
    margin:50px auto;
    width: 700px;
    height: 700px;
    background-color: rgba(199, 199, 199, 0.486);
}
div#card{
    display: block;
    margin: 0 50px 0 50px;
    font-size: larger;
    font-weight: bolder;
}
div#card h1{
    background-color: rgb(16, 138, 138);
    width: 600px;
    height: 150px;
    margin: 0px auto;
    display: flex;
    font-size: larger;
    font-weight: bolder;
    color: aliceblue;
}
div#card h1 span{
    background-color: rgb(60, 194, 194);
    width: 300px;
    height: 50px;
    margin: 0px auto;
    align-self: center;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

#divs{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: larger;
    font-weight: bolder;
    color: aliceblue;
}
#divs div.box:nth-child(1){
    width: 395px;
    height: 145px;
    background-color: rgb(60, 194, 194);
    margin: 10px 0;
    padding: 5px;
}
#divs div.box:nth-child(2){
    width: 395px;
    height: 145px;
    background-color: rgb(60, 194, 194);
    margin: 10px 0;
    padding: 5px;
}
#div2{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: larger;
    font-weight: bolder;
    color: aliceblue;
}
#div2 div.box{
    width: 395px;
    height: 145px;
    background-color: rgb(16, 138, 138);
    margin: 10px 0;
    padding: 5px;
}
#div2>p.box{
    width: 395px;
    height: 145px;
    background-color: rgb(16, 138, 138);
    padding: 5px;
    margin: 10px 0;
    color: aliceblue;
}
#div2 div.box p.box{
    background-color: rgb(60, 194, 194);
    color: aliceblue;
}
p.box span{
    background-color: rgb(60, 194, 194);
}
#divcard{
    color: rgb(0, 0, 0);
    
}

#tab{
    width: 700px;
    height: 400px;
    background-color: rgba(189, 189, 189, 0.404) ;
    margin: 00px auto;
} 
#tabela{
    display:flex;
}
 #table table, #table tr, #table td, #table th{
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
    margin: 0 50px;
}
table{
    width: 250px;
    height: 250px;
}
#table td{
    text-align: center;
    font-size: larger;
}
#table2 table, #table2 tr, #table2 td, #table2 th{
    border: 3px solid rgb(0, 0, 0);
    margin: 0 50px;
}