html, body{
    margin: 0;
    padding: 0;
}

div#card{
    width: 900px;
    height: 900px;
    background-color: rgba(127, 255, 212, 0.699);
    display: block;
    padding: 50px;
    font-size: larger;
    font-weight: bolder;
}
div#card h1{
    background-color: rgba(240, 255, 255, 0.678);
    width: 900px;
    height: 150px;
    margin: 0px auto;
    display: flex;
    font-size: larger;
    font-weight: bolder;
}
div#card h1 span{
    background-color: rgba(26, 190, 190, 0.678);
    width: 300px;
    height: 50px;
    margin: 0px auto;
    align-self: center;
    font-size: larger;
    font-weight: bolder;
}

#divs{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: larger;
    font-weight: bolder;
}
#divs div.box:nth-child(1){
    width: 395px;
    height: 145px;
    background-color: rgba(131, 83, 83, 0.418);
    margin: 10px 0;
    padding: 5px;
}
#divs div.box:nth-child(2){
    width: 395px;
    height: 145px;
    background-color: rgba(136, 9, 9, 0.418);
    margin: 10px 0;
    padding: 5px;
}
#div2{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: larger;
    font-weight: bolder;
}
#div2 div.box{
    width: 395px;
    height: 145px;
    background-color: rgba(18, 207, 119, 0.788);
    margin: 10px 0;
    padding: 5px;
}
#div2>p.box{
    width: 395px;
    height: 145px;
    background-color: rgba(71, 18, 194, 0.438);
    padding: 5px;
}
#div2 div.box p.box{
    background-color: rgba(84, 39, 189, 0.425);
}
p.box span{
    background-color: aqua;
}
