html, body{
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}
body{
    background-color: rgb(49, 49, 49);
}
header {
    height: 90px;
    background-color: rgb(0, 0, 0);
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
#logo{
    width: 206px;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center; 
}
 header img{
    margin: 0;
 }
nav ul{
    display: flex;
    color: white;
    list-style-type: none;
    gap: 20px;
    font-size: large;
}

header nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 30px 20px;
}
header nav ul li a:hover{
    color: #FF7A01;
    border-bottom: 5px solid #69A84377; 
}
main{
    color: white;
}
.active{
    border-bottom: 5px solid #69A843;
    color: #FF7A01;
}
/*Tabela*/
table{
/*border: 1px solid rgba(255, 255, 255, 0.849);*/
    border-collapse: collapse;
}
th, td{
/* border: 1px solid rgba(255, 255, 255, 0.849);*/
padding: 10px;
}

th:nth-child(1){
    background-color: rgba(88, 117, 71, 0.822);
}
th:nth-child(3){
    background-color: rgba(88, 117, 71, 0.822);
}
th:nth-child(2) {
    background-color: rgba(149, 168, 137, 0.822);
}
tr:nth-child(even){
    background-color: rgba(56, 77, 44, 0.822);
}
tr:nth-child(odd){
    background-color: rgba(92, 124, 74, 0.822);
}
.two-rows-line{
    background-color: rgba(117, 156, 95, 0.822);
}
/*Formulario*/
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
}
fieldset{
    border: none;
}
fieldset:first-child{
    display: flex;
    flex-direction: column;
}
input[type=text], input[type=password], select, textarea {
    padding: 3px 8px;
    border-radius: 10px;
    background-color: #b9b9b977;
    border: none;
    margin:  5px 0 10px 0;
    color: white;
    font-size: 16px;
}
select{
    width: fit-content;
}
input[type=submit]{
    width: 50%;
    background-color: #ff7c01;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
input[type=submit]:hover{
    width: 50%;
    background-color: #69A843;
}
