.header{
    display: flex;
    background-color: rgb(218, 173, 115);
    height: 100px;
    width: 1000px;
    align-items: center;
   
}
.top{
    display: flex;
    background-color: rgb(238, 223, 203);
    height: 350px;
    width: 1000px;
    align-items: center;
    text-align: center;
}
.middle2{
    display: flex;
    background-color: rgb(180, 175, 167);
    height: 350px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    
}
.middle1{
    display: flex;
    background-color: rgb(209, 201, 190);
    height: 350px;
    width: 1000px;
    align-items: center;
    
}
.footer{
    display: flex;
    background-color: rgb(218, 173, 115);
    height: 350px;
    width: 1000px;
    align-items: center;
}


.head-logo{
    background-color: beige;
    height: 25px;
    width: 200px;
    text-align: center;
    margin: 0 425px 0 25px;
}
.head-pesq{
    background-color: beige;
    height: 25px;
    width: 300px;
    text-align: center;
    margin: 0 50px 0 0;
}

.top-c1{
    margin: 0 25px 0 150px;
}
.topflex{
    display: flex;
    gap: 20px;
}
#tp1 {
    background-color: rgb(179, 179, 142);
    height: 50px;
    width: 270px;
    margin: 0 0 25px 0;
}
#tp2 {
    background-color: rgb(179, 179, 142);
    height: 25px;
    width: 125px;
}
#tp3 {
    background-color: rgb(179, 179, 142);
    height: 25px;
    width: 125px;
}
#tp4 {
    background-color: rgb(179, 179, 142);
    height: 270px;
    width: 450px;
    margin: 0 50px 0 auto;
}

.middle1{
    display: flex;
    justify-content: space-around;
}
.md{
    background-color: beige;
    height: 250px;
    width: 200px;
}
.content1{
    display: block;
}
.md2-1{
    background-color: beige;
    height: 100px;
    width: 200px;
    margin: 0 75px 25px 0;
}
.content2{
    display: block;
}
.md2-2{
    background-color: beige;
    height: 100px;
    width: 450px;
    margin: auto 0px 50px 0px;
}

