#page {
    width: 1000px;
    height: 1000px;
    background-color: aqua;
    margin: 0 auto 0 auto;
}
#header {
    height: 70px;
    width: 100%;
    background-color: rgb(201, 119, 119);
    text-align: center;
    font-size: 50px;
}
.dolado {
    display: flex;
}
#content {
    height: 925px;
    width: 850px;
    background-color: rgb(117, 90, 141);
    text-align: center;
    font-size: 50px;
}
#sidebar {
    height: 925px;
    width: 150px;
    background-color: rgb(87, 87, 192);
    text-align: center;
    font-size: 50px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
#footer {
    height: 70px;
    width: 100%;
    background-color: rgb(201, 119, 119);
    text-align: center;
    font-size: 50px;
}